<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Caffeinna Creatives">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Rezeet - About</title>
    <link rel="stylesheet" href="assets/css/style2888.css?v1.0.0">
    <link rel="stylesheet" href="assets/css/style-business-solution2888.css?v1.0.0">
</head>

<body class="nk-body" data-navbar-collapse="xl">
    <div class="nk-app-root ">
        <header class="nk-header">
            <div class="nk-header-main nk-navbar-main  is-theme is-theme-bg">
                <div class="container">
                    <div class="nk-header-wrap">
                        <div class="nk-header-logo">
                            <a href="/" class="logo-link">
                                <div class="logo-wrap"><img class="logo-img logo-light" src="images/logo-s1-dark.png"  alt="brand-logo"><img class="logo-img logo-dark" src="images/logo-s1-dark-dark.png"
                                        alt="brand-logo"></div>
                            </a>
                        </div>
                        <nav class="nk-header-menu nk-navbar">
                            <div>
                                <ul class="nk-nav">
                                    <li class="nk-nav-item"><a href="about" class="nk-nav-link"><span class="nk-nav-text" style="color: #170B3B;">About Us</span></a></li>
                                
                                    <li class="nk-nav-item"><a href="#" class="nk-nav-link"><span class="nk-nav-text" style="color: #170B3B;">Our Product</span></a></li>
                                    <li class="nk-nav-item"><a href="#" target="_blank" class="nk-nav-link"><span class="nk-nav-text" style="color: #170B3B;">Our Partners</span></a></li>
                                    <li class="nk-nav-item"><a href="#" target="_blank" class="nk-nav-link"><span class="nk-nav-text" style="color: #170B3B;">Resources</span></a></li>
                                    <li class="nk-nav-item"><a href="#" target="_blank" class="nk-nav-link"><span class="nk-nav-text" style="color: #170B3B;">Careers</span></a></li>
                                </ul>
                                <div class="nk-navbar-btn d-md-none">
                                    {{!-- <ul class="nk-btn-group sm justify-content-center">
                                        <li class="w-100"><a href="sign-up" target="_blank" class="btn btn-primary w-100"><em class="icon ni  ni-bag-fill"></em><span>For Partners</span></a></li>
                                    </ul> --}}
                                </div>
                            </div>

                        </nav>
                        <div class="nk-header-action nk-navbar-toggle"> <!--nk-navbar-toggle hides in wide screen -->
                            <ul class="nk-btn-group sm justify-content-center">
                                {{!-- <li class="d-none d-md-block"><a href="sign-up" class="btn btn-primary text-nowrap text-nowrap"><em class="icon ni ni-bag-fill"></em><span>For Partners</span></a></li> --}}
                                <li class="nk-navbar-toggle"><button class="btn navbar-toggle rounded-1 p-2 h-100"><em class="icon ni ni-menu"></em></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="nk-pages">
            <section class="nk-about-section nk-space-y-s-120 nk-space-lg-y-s-160 pb-7 has-mask">
                <div class="nk-mask blur-2"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content text-center">
                                    {{!-- <div class="overline-title small mb-1 mb-md-2">Our Story</div> --}}
                                    <h2 class="mt-0">What Rezeet is all about</h2>
                                    <p class="nk-block-text lead ">In every line of code we write, in every partnership we forge, and in every customer we serve, our commitment to reducing paper waste and protecting our forests remains unwavering. Join us on this journey toward a more sustainable future, one digital receipt at a time. Together, we can make a difference that truly matters.</p>
                                    <ul class="nk-btn-group justify-content-center pt-3 pt-md-5" data-aos="fade-up" data-aos-delay="400">
                                        <li><a href="sign-up" class="btn btn-spacing-x-lg text-nowrap" style="background-color: #170B3B; color:white;">Get Started</a></li>
                                        <li><a href="/" class="btn  btn-spacing-x-lg btn-outline-primary">Home</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-gs">
                        <div class="col-md-6 col-lg-6">
                            <div class="card p-0 h-100 rounded-2" data-aos="fade-up" data-aos-delay="100">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-4"><em class="icon ni ni-bulb-fill"></em></div>
                                    <h5 class="title">Our Vision</h5>
                                    <p class="text">Our vision is to create a future where paper receipts are replaced by eco-friendly digital solutions, protecting trees and conserving water resources. Through our innovative platforms, we aim to inspire sustainable practices and contribute to a greener, more sustainable world.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card p-0 h-100 rounded-2" data-aos="fade-up" data-aos-delay="200">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-info-soft mb-4"><em class="icon ni ni-growth-fill"></em></div>
                                    <h5 class="title">Our Mission</h5>
                                    <p class="text">Our mission is to revolutionize receipt management through innovative and eco-friendly solutions, reducing paper reliance, deforestation, and water consumption. By leveraging our cutting-edge digital platforms, we empower businesses and consumers with seamless electronic receipt systems that eliminate paper-based transactions, raise awareness about environmental impact, and inspire sustainable practices. Together, we envision a future where paper receipts are obsolete, trees are protected, and water resources are conserved, fostering a greener and sustainable world.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="nk-section-journey nk-section-space-lg bg-primary-200 has-mask overflow-hidden">
                <div class="nk-mask shape-37 d-none d-xl-block" data-aos="fade-in" data-aos-delay="200"></div>
                <div class="container">
                    <div class="nk-block-head m-0">
                        <div class="row g-gs justify-content-center">
                            <div class="col-xl-7">
                                <div class="nk-block-head-content text-center"><span class="badge badge-md badge-text--sm  text-uppercase rounded-pill mb-1 mb-md-3" style="background-color: #170B3B;">Our Passion</span>
                                    <h2 class="mb-2 mb-md-0">What Drives Us</h2>
                                    <p class="nk-block-text lead"> At Rezeet, our mission is rooted in a deep commitment to a sustainable future. We are driven by the pressing need to address the environmental challenges posed by paper receipts and contribute to a greener world. Here's what fuels our passion: </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-section-content">
                        <div class="journey-contents">
                            <div class="journey-item h-100">
                                <div class="circle"><span class="circle-dot"></span></div>
                                <div class="card p-0 card-journey journey-card">
                                    <div class="card-journey-content">
                                        <div class="heading"><span>Environmental Stewardship</span></div>
                                        <blockquote>
                                            <p>We believe in taking responsibility for our planet. Every digital receipt generated through our platform represents one less paper receipt and one more tree standing tall. We are dedicated to reducing the carbon footprint of businesses and individuals alike. </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="journey-item h-100">
                                <div class="circle"><span class="circle-dot"></span></div>
                                <div class="card p-0 card-journey journey-card">
                                    <div class="card-journey-content">
                                        <div class="heading"><span>Innovation</span></div>
                                        <blockquote>
                                            <p>Technology has the power to revolutionize the way we do things. We are driven by innovation and the boundless possibilities it offers. Our team is constantly pushing the boundaries of what's possible in digital receipt management. </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="journey-item h-100">
                                <div class="circle"><span class="circle-dot"></span></div>
                                <div class="card p-0 card-journey journey-card">
                                    <div class="card-journey-content">
                                        <div class="heading"><span>Customer Empowerment</span></div>
                                        <blockquote>
                                            <p> We are inspired by the idea of empowering businesses and consumers to make sustainable choices effortlessly. Our digital receipt solutions put the power of choice back in your hands, making it easy to contribute to a sustainable future. </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="journey-item h-100">
                                <div class="circle"><span class="circle-dot"></span></div>
                                <div class="card p-0 card-journey journey-card">
                                    <div class="card-journey-content">
                                        <div class="heading"><span>Collaboration</span></div>
                                        <blockquote>
                                            <p> Solving complex problems requires collaboration. We are driven to collaborate with businesses, environmental organizations, and individuals who share our vision. Together, we can make a meaningful impact on our world.</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="journey-item h-100">
                                <div class="circle"><span class="circle-dot"></span></div>
                                <div class="card p-0 card-journey journey-card">
                                    <div class="card-journey-content">
                                        <div class="heading"><span>Convenience</span></div>
                                        <blockquote>
                                            <p> We understand the importance of convenience in the digital age. Our mission is to make the transition from paper to digital receipts seamless, so you can enjoy the benefits of sustainability without added complexity.</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="journey-item h-100">
                                <div class="circle"><span class="circle-dot"></span></div>
                                <div class="card p-0 card-journey journey-card">
                                    <div class="card-journey-content">
                                        <div class="heading"><span>Transparency</span></div>
                                        <blockquote>
                                            <p> Honesty and transparency are at the core of our values. We're committed to providing you with the information you need to make informed choices about your receipt management.</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="journey-item h-100">
                                <div class="circle"><span class="circle-dot"></span></div>
                                <div class="card p-0 card-journey journey-card">
                                    <div class="card-journey-content">
                                        <div class="heading"><span>Sustainability Education</span></div>
                                        <blockquote>
                                            <p> We are motivated to educate and raise awareness about the environmental impact of paper receipts. Knowledge is a powerful driver of change, and we want to ensure everyone understands the positive difference digital receipts can make.</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-values-section nk-section-space  pt-xl-0">
                <div class="container">
                    <div class="row g-gs">
                        <div class="col-md-6">
                            <div class="card p-0 h-100 rounded-2" data-aos="fade-up" data-aos-delay="100">
                                <div class="card-body">
                                    <div class="media-group flex-column flex-lg-row align-items-start align-items-lg-center">
                                        <div class="media-text">
                                            <div class="h1 text-primary">100%</div>
                                        </div>
                                        <div class="media-text ms-0 ms-lg-4">
                                            <h4 class="title m-0">Sustainable</h4>
                                            <p class="text"> Go Green, Save Receipts, Save Trees with Our Eco-Friendly Solution for Sustainability</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card p-0 h-100 rounded-2" data-aos="fade-up" data-aos-delay="100">
                                <div class="card-body">
                                    <div class="media-group flex-column flex-lg-row align-items-start align-items-lg-center">
                                        <div class="media-text">
                                            <div class="h1 text-danger">100%</div>
                                        </div>
                                        <div class="media-text ms-0 ms-lg-4">
                                            <h4 class="title m-0">Eco-friendly</h4>
                                            <p class="text">Embrace Eco-Friendly Receipts: Paving the Way for a Greener Tomorrow!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-cta-section nk-section-space overflow-hidden">
                <div class="container">
                    <div style="background-color: #1d0e4a;" class="nk-cta-wrap  rounded-3 is-theme p-4 p-md-7 py-6 py-md-7 has-mask" data-aos="fade-up" data-aos-delay="100"  style="background-color: #170B3B;">
                        <div class="nk-mask shape-22" data-aos="fade-in" data-aos-delay="250"></div>
                        <div class="row justify-content-center" >
                            <div class="col-xxl-7 col-lg-10">
                                <div class="nk-block-head-content text-center m-0">
                                    <div class=" mb-5 mb-lg-7">
                                        <a href="/" class="logo-link">
                                            <div class="logo-wrap"><img class="logo-img logo-light" src="images/logo-s2.png"  alt="brand-logo"><img class="logo-img logo-dark" src="images/logo-s2-dark.png" 
                                                    alt="brand-logo"></div>
                                        </a>
                                    </div>
                                    <h2 class="nk-block-title mb-5 mb-lg-7">We are trusted by top retailers. <br class=" d-none d-lg-block" /> Join them to grow your business.</h2>
                                    <ul class="nk-btn-group justify-content-center">
                                        <li><a href="sign-up" class="btn btn-white text-nowrap">Become a Partner</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="nk-footer">
            <section class="nk-footer-section">
                <div class="nk-footer-top">
                    <div class="container">
                        <div class="row g-gs justify-content-between">
                            <div class="col-sm-9 col-md-6 col-lg-4 col-xxl-4">
                                <div class="nk-footer-item me-xxl-5">
                                    <div class="nk-header-logo mb-3">
                                        <a href="/" class="logo-link">
                                            <div class="logo-wrap"><img class="logo-img logo-light" src="images/logo-s2.png"  alt="brand-logo"><img class="logo-img logo-dark" src="images/logo-s2-dark.png" 
                                                    alt="brand-logo"></div>
                                        </a>
                                    </div>
                                    <p class="mb-4" style="font-size: 16px;">Capture the Future. Embrace the Power of Paperless</p>
                                    <ul class="social-links">
                                        <li><a class="fs-16" href="#"><em class="icon ni ni-facebook-circle"></em></a></li>
                                        <li><a class="fs-16" href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a class="fs-16" href="#"><em class="icon ni ni-telegram-circle"></em></a></li>
                                        <li><a class="fs-16" href="#"><em class="icon ni ni-linkedin-round"></em></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="row justify-content-between g-gs">
                                    <div class="col-lg-7 col-sm-8">
                                        <div class="nk-footer-item">
                                            <h5 class="title mb-3">Quick Links</h5>
                                            <ul class="nk-list-link column-2">
                                                <li><a class="fs-16" href="about">About</a></li>
                                                <li><a class="fs-16" href="#">Our Product</a></li>
                                                <li><a class="fs-16" href="#">Our Partners</a></li>
                                                <li><a class="fs-16" href="#">Resources</a></li>
                                                <li><a class="fs-16" href="#">Careers</a></li>
                                                <li><a class="fs-16" href="#">Partner Login</a></li>
                                                <li><a class="fs-16" href="sign-up">Partner Sign up</a></li>
                                                <li><a class="fs-16" href="#">Stores</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="nk-footer-item">
                                            <h5 class="title mb-3">Utility Pages</h5>
                                            <ul class="nk-list-link">
                                                <li><a class="fs-16" href="#">Terms and Conditions</a></li>
                                                <li><a class="fs-16" href="#">Privacy Policy</a></li>
                                                <li><a class="fs-16" href="#">Support</a></li>
                                                <li><a class="fs-16" href="#">Help</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-6 mb-0">
                    </div>
                </div>
                <div class="nk-footer-bottom py-4">
                    <div class="container">
                        <div class="row text-center text-lg-start g-1">
                            <div class="col-lg-6">
                                <div class="nk-copyright-text">
                                    <p style="font-size: 16px;">&copy; 2023 <a class="fs-16" href="#" target="_blank">Rezeet</a>. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ul class="nk-list-link horizontal justify-content-center justify-content-lg-end">
                                    <li><a class="fs-16" href="#">Terms and Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        
        <a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em class="icon ni ni-chevrons-up"></em></a>

        
    </div>
    <script src="assets/js/bundle2888.js?v1.0.0"></script>
    <script src="assets/js/scripts2888.js?v1.0.0"></script>
</body>

</html>