<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Caffeinna">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Rezeet - Reciepts Archiving App</title>
    <link rel="stylesheet" href="assets/css/style-business-subscription2888.css?v1.0.0">
</head>

<body class="nk-body" data-navbar-collapse="xl">
    <div class="nk-app-root home-business-subscription">
        <header class="nk-header">
            <div class="nk-header-main nk-navbar-main  is-theme is-theme-bg">
                <div class="container">
                    <div class="nk-header-wrap">
                        <div class="nk-header-logo">
                            <a href="/" class="logo-link">
                                <div class="logo-wrap"><img class="logo-img logo-light" src="images/logo-s2.png"  alt="brand-logo"><img class="logo-img logo-dark" src="images/logo-s2-dark.png" srcset="# 2x"
                                        alt="brand-logo"></div>
                            </a>
                        </div>
                        <nav class="nk-header-menu nk-navbar">
                            <div>
                                <ul class="nk-nav">
                                    <li class="nk-nav-item"><a href="about" class="nk-nav-link"><span class="nk-nav-text">About Us</span></a></li>
                                
                                    <li class="nk-nav-item"><a href="#" class="nk-nav-link"><span class="nk-nav-text">Our Product</span></a></li>
                                    <li class="nk-nav-item"><a href="#" target="_blank" class="nk-nav-link"><span class="nk-nav-text">Our Partners</span></a></li>
                                    <li class="nk-nav-item"><a href="#" target="_blank" class="nk-nav-link"><span class="nk-nav-text">Resources</span></a></li>
                                    <li class="nk-nav-item"><a href="#" target="_blank" class="nk-nav-link"><span class="nk-nav-text">Careers</span></a></li>
                                </ul>
                                <div class="nk-navbar-btn d-md-none">
                                    {{!-- <ul class="nk-btn-group sm justify-content-center">
                                        <li class="w-100"><a href="sign-up" target="_blank" class="btn btn-primary w-100"><em class="icon ni  ni-bag-fill"></em><span>For Partners</span></a></li>
                                    </ul> --}}
                                </div>
                            </div>

                        </nav>
                        <div class="nk-header-action nk-navbar-toggle"> <!--nk-navbar-toggle hides in wide screen -->
                            <ul class="nk-btn-group sm justify-content-center">
                                {{!-- <li class="d-none d-md-block"><a href="sign-up" class="btn btn-primary text-nowrap text-nowrap"><em class="icon ni ni-bag-fill"></em><span>For Partners</span></a></li> --}}
                                <li class="nk-navbar-toggle"><button class="btn navbar-toggle rounded-1 p-2 h-100"><em class="icon ni ni-menu"></em></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="nk-pages">
            <section class="nk-banner nk-banner-business-subscription has-mask is-theme is-theme-bg">
                <div class="nk-banner-wrap nk-space-y-s-120 nk-space-lg-y-s-180 nk-space-lg-y-e-160">
                    <div class="container">
                        <div class="row justify-content-lg-between position-relative">
                            <div class="col-lg-7 col-xxl-5 order-lg-0 order-2"><div>
                                    <h1 class="display-6" data-aos="fade-up" data-aos-delay="100">Capture the Future. Embrace Paperless Power.</h1>
                                    <p class="opacity-75" data-aos="fade-up" data-aos-delay="200"> With our innovative mobile app, we're revolutionizing receipt management, conserving earths valuable resources, and shaping a sustainable tomorrow. Join us in the digital revolution and make your receipts count towards a greener, brighter future.</p>
                                    <ul class="nk-btn-group pt-5" data-aos="fade-up" data-aos-delay="250">
                                        <li><a href="sign-up" class="btn text-nowrap" style="background-color: #170B3B;">Request a Demo</a></li>
                                        <li><a href="sign-up" class="btn btn-white text-nowrap">Sign Up</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xxl-7 order-lg-0 order-1">
                                <div class="nk-banner-cover nk-frame nk-frame-three pb-5 pb-lg-0"><img src="images/scan.jpg" alt="banner-cover">
                                    <div class="nk-frame-children nk-frame-children-one"><img src="images/inside-pages/business-subscription/mask/mask-circle-1.png" alt="mask-circle"></div>
                                    <div class="nk-frame-children nk-frame-children-two "><img src="images/inside-pages/business-subscription/mask/mask-dot-1.png" class="animate animate-shakeY animate-duration-12" alt="mask-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="nk-feature-section nk-section-space-lg overflow-hidden">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7">
                            <div class="nk-block-head lg text-center m-0 pb-5 pb-xl-7">
                                <div class="nk-block-head-content"><span class="overline-title small  mb-2 mb-md-3" style="color: #170B3B;">For Partners</span>
                                    <h2 class="mb-2 mb-md-0">Discover Exciting Features</h2>
                                    <p class="nk-block-text lead">Our innovative and informative dashboard creates multiple ways for you to stay ahead with real time data and analysis</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="card text-center bg-transparent border-0 mb-4 mb-lg-7" data-aos="fade-up" data-aos-delay="100">
                                <div class="card-body p-0">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-4"><em class="icon ni ni-trend-up"></em></div>
                                    <h5 class="title">Custom analytics</h5>
                                    <p class="fs-16">Get a complete  dashboard in the cloud. See activity, revenue and other metrics all in one.</p><a href="#" class="btn-link "><span>Learn More</span><em class="icon ni ni-arrow-right"></em></a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card text-center bg-transparent border-0 mb-4 mb-lg-7" data-aos="fade-up" data-aos-delay="200">
                                <div class="card-body p-0">
                                    <div class="media media-lg media-middle media-circle text-bg-success-soft mb-4"><em class="icon ni ni-emails"></em></div>
                                    <h5 class="title">Add multiple locations</h5>
                                    <p class="fs-16"> Stay connected with your team and make quick decisions wherever you are. </p><a href="#" class="btn-link "><span>Learn More</span><em class="icon ni ni-arrow-right"></em></a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card text-center bg-transparent border-0 mb-4 mb-lg-7" data-aos="fade-up" data-aos-delay="300">
                                <div class="card-body p-0">
                                    <div class="media media-lg media-middle media-circle text-bg-warning-soft mb-4"><em class="icon ni ni-users"></em></div>
                                    <h5 class="title">Monitor </h5>
                                    <p class="fs-16"> Our app lets you know what is happening with customer and stores so you </p><a href="#" class="btn-link "><span>Learn More</span><em class="icon ni ni-arrow-right"></em></a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card text-center bg-transparent border-0 mb-4 mb-lg-7" data-aos="fade-up" data-aos-delay="100">
                                <div class="card-body p-0">
                                    <div class="media media-lg media-middle media-circle text-bg-danger-soft mb-4"><em class="icon ni ni-edit-alt"></em></div>
                                    <h5 class="title">Integrate with existing system</h5>
                                    <p class="fs-16">A tool that lets you integrate your site even if you know nothing about web design.</p><a href="#" class="btn-link "><span>Learn More</span><em class="icon ni ni-arrow-right"></em></a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card text-center bg-transparent border-0 mb-4 mb-lg-7" data-aos="fade-up" data-aos-delay="200">
                                <div class="card-body p-0">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-light-soft mb-4"><em class="icon ni ni-grid"></em></div>
                                    <h5 class="title">Connect multiple apps</h5>
                                    <p class="fs-16"> The first business platform to bring together all of your products from one place. </p><a href="#" class="btn-link "><span>Learn More</span><em class="icon ni ni-arrow-right"></em></a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card text-center bg-transparent border-0 mb-4 mb-lg-7" data-aos="fade-up" data-aos-delay="300">
                                <div class="card-body p-0">
                                    <div class="media media-lg media-middle media-circle text-bg-secondary-light-soft mb-4"><em class="icon ni ni-setting-alt"></em></div>
                                    <h5 class="title">Easy Setups</h5>
                                    <p class="fs-16">End to End Business Platform, Sales Management, Automation, Help Desk</p><a href="#" class="btn-link "><span>Learn More</span><em class="icon ni ni-arrow-right"></em></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="nk-how-it-work-section nk-section-space-lg bg-primary-200 overflow-hidden ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7">
                            <div class="nk-block-head lg text-center m-0 pb-5 pb-xl-7">
                                <div class="nk-block-head-content"><span class="overline-title small  mb-2 mb-md-3"  style="color: #170B3B;">Offline Checkout</span>
                                    <h2 class="mb-2 mb-md-0">How Does It Work?</h2>
                                    {{!-- <p class="nk-block-text lead">Offline </p> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row g-gs align-items-center justify-content-between">
                        <div class="col-lg-6 col-xl-5 order-2 order-lg-0">
                            <ul class="nk-schedule nk-schedule-s2">
                                <li class="nk-schedule-item">
                                    <div class="nk-schedule-item-inner">
                                        <div class="nk-schedule-symbol">
                                            <div class="media media-md media-middle media-circle text-bg-danger-soft"><em class="icon ni ni-check"></em></div>
                                        </div>
                                        <div class="nk-schedule-content"><span class="overline-title small mb-md-3">step 1</span>
                                            <h3 class="mb-2">Create Account</h3>
                                            <p class="text lead">Download Rezeet mobile app from your app store and create an account to get started.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-schedule-item">
                                    <div class="nk-schedule-item-inner">
                                        <div class="nk-schedule-symbol">
                                            <div class="media media-md media-middle media-circle text-bg-danger-soft"><em class="icon ni ni-check"></em></div>
                                        </div>
                                        <div class="nk-schedule-content"><span class="overline-title small mb-md-3">step 2</span>
                                            <h3 class="mb-2">Scan on Checkout</h3>
                                            <p class="text lead">Click the "+" sign on your Rezeet App and choose to scan QR.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-schedule-item">
                                    <div class="nk-schedule-item-inner">
                                        <div class="nk-schedule-symbol">
                                            <div class="media media-md media-middle media-circle text-bg-danger-soft"><em class="icon ni ni-check"></em></div>
                                        </div>
                                        <div class="nk-schedule-content"><span class="overline-title small mb-md-3">step 3</span>
                                            <h3 class="mb-2">Save for revisits</h3>
                                            <p class="text lead">Save the newly scanned receipt either as "business" or as "personal" and revisit at your convenience.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 order-1 order-lg-0">
                            <div class="nk-video nk-video-s1 has-mask mt-6 mt-lg-0">
                                <div class="nk-mask shape-28 d-none d-md-block" data-aos="fade-in" data-aos-delay="400"></div>
                                <div class="nk-video-inner" data-aos="fade-up" data-aos-delay="100">
                                    <div class="nk-video-content">
                                        <div class="nk-video-img"><img src="images/inside-pages/business-digital/cover/how.jpg" alt="" class="rounded-2 w-100"></div>
                                        <div class="nk-video-btn"><a data-fslightbox href="https://www.youtube.com/watch?v=" class="media media-lg media-middle media-circle text-bg-danger shadow-xl animate animate-infinite animate-pulse animate-duration-1"><em class="icon ni ni-play-fill"></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="nk-testimonial-section nk-section-space-lg new-bg is-theme is-theme-bg ">
                                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7">
                            <div class="nk-block-head lg text-center m-0 pb-5 pb-xl-7">
                                <div class="nk-block-head-content"><span class="overline-title small  mb-2 mb-md-3"  style="color: #fff;">Online Checkout</span>
                                    <h2 class="mb-2 mb-md-0">How Does It Work?</h2>
                                    {{!-- <p class="nk-block-text lead">Adipiscing nisi sem gravida enim eu adipiscing sagittis scelerisque augue nulla massa aliquet fringilla nullam eget</p> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row g-gs align-items-center justify-content-between">
                        <div class="col-lg-5 order-1 order-lg-0">
                            <div class="nk-video nk-video-s1 has-mask mt-6 mt-lg-0">
                                <div class="nk-mask shape-28 d-none d-md-block" data-aos="fade-in" data-aos-delay="400"></div>
                                <div class="nk-video-inner" data-aos="fade-up" data-aos-delay="100">
                                    <div class="nk-video-content">
                                        <div class="nk-video-img"><img src="images/inside-pages/business-digital/cover/how.jpg" alt="" class="rounded-2 w-100"></div>
                                        <div class="nk-video-btn"><a data-fslightbox href="https://www.youtube.com/watch?v=" class="media media-lg media-middle media-circle text-bg-danger shadow-xl animate animate-infinite animate-pulse animate-duration-1"><em class="icon ni ni-play-fill"></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-5 order-2 order-lg-0">
                            <ul class="nk-schedule nk-schedule-s2">
                                <li class="nk-schedule-item">
                                    <div class="nk-schedule-item-inner">
                                        <div class="nk-schedule-symbol">
                                            <div class="media media-md media-middle media-circle text-bg-danger-soft"><em class="icon ni ni-check"></em></div>
                                        </div>
                                        <div class="nk-schedule-content"><span class="overline-title small mb-md-3">step 1</span>
                                            <h3 class="mb-2">Save QR Image</h3>
                                            <p class="text lead">Take a screenshot of the QR code receipt you will like to save on your Rezeet App.
</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-schedule-item">
                                    <div class="nk-schedule-item-inner">
                                        <div class="nk-schedule-symbol">
                                            <div class="media media-md media-middle media-circle text-bg-danger-soft"><em class="icon ni ni-check"></em></div>
                                        </div>
                                        <div class="nk-schedule-content"><span class="overline-title small mb-md-3">step 2</span>
                                            <h3 class="mb-2">Scan Image</h3>
                                            <p class="text lead">Click the "+" sign on your Rezeet App and choose to scan with Google lens.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-schedule-item">
                                    <div class="nk-schedule-item-inner">
                                        <div class="nk-schedule-symbol">
                                            <div class="media media-md media-middle media-circle text-bg-danger-soft"><em class="icon ni ni-check"></em></div>
                                        </div>
                                        <div class="nk-schedule-content"><span class="overline-title small mb-md-3">step 3</span>
                                            <h3 class="mb-2">Save Receipt</h3>
                                            <p class="text lead">Your photo folder will open up and you can select the QR code to scan. Scan QR code and save on your Rezeet App.Easy!</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                
            </section>
            <section class="nk-faq-section nk-section-space-lg pt-lg-7">
                <div class="container">
                    <div class="row g-gs">
                        <div class="col-xl-4">
                            <div class="nk-section-head pb-5 pb-lg-7 pb-xl-0 text-center text-xl-start mt-xl-5 pt-xl-2"><span class="subtitle text-primary mb-2">FAQS</span>
                                <h2 class="mt-0">Frequently Asked Questions</h2>
                                {{!-- <p>Adipiscing nisi sem gravida enim eu adipiscing sagittis scelerisque augue.</p> --}}
                                <ul class="nk-btn-group justify-content-center justify-content-xl-start mt-3 mt-md-5">
                                    <li><a href="#" class="btn btn-primary text-nowrap">Get started</a></li>
                                    <li><a href="#" class="btn btn-outline-primary text-nowrap">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="nk-faq">
                                <div class="accordion accordion-s3 p-5" id="accordionExample">
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseOne"><span>What is the purpose of digital receipts?</span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">The purpose of digital receipts is to provide an eco-friendly alternative to paper receipts. By eliminating the need for paper-based transactions, digital receipts help reduce paper consumption, mitigate deforestation, and conserve water resources, contributing to a more sustainable future.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo"><span>How do digital receipts reduce paper reliance? </span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">Our digital receipt solution eliminates the need for printing and distributing paper receipts. Instead, they are delivered electronically to customers via our mobile applications. By embracing digital receipt technologies, businesses will significantly reduce their paper usage and environmental footprint.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseThree"><span>Are digital receipts secure and reliable? </span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">Yes, digital receipts are designed to be secure and reliable. Rezeet implements digital receipt solutions prioritize data protection and employ encryption technologies to safeguard customer information. Additionally, digital receipts offer easy access and retrieval options, ensuring that customers can obtain their receipts whenever needed.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFour"><span>How do digital receipts help protect trees and reduce deforestation?</span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">Traditional paper receipts require the use of vast amounts of paper, leading to deforestation and habitat destruction. By transitioning to digital receipts, businesses can minimize the demand for paper, thereby reducing the need to fell trees. Our digital receipt solutions support sustainable practices and help preserve our valuable forest resources.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive"><span>Can digital receipts be used for tax and accounting purposes?  </span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">Yes, digital receipts are suitable for tax and accounting purposes. Many tax authorities recognize digital receipts as valid documentation for expense reporting and auditing. With digital receipt solutions, businesses can store electronic receipts securely and provide them when necessary, during tax filing or financial audits.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive"><span>How do digital receipts contribute to water conservation?</span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">The paper manufacturing process requires significant amounts of water, contributing to water scarcity and environmental strain. By promoting digital receipts, we help conserve water resources by reducing the need for paper production. Choosing our digital solution over paper receipts can make a positive impact on water consumption and help preserve this precious water resource.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive"><span>Are digital receipts user-friendly for customers? </span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">Yes, our digital receipt solution is designed to be user-friendly. Customers can receive digital receipts via our mobile applications. They can easily view, store, and organize their receipts electronically. Digital receipts also offer convenience by enabling customers to search for specific transactions or products quickly.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive"><span>How can businesses integrate digital receipt solutions into their existing systems?</span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">Our digital receipt solutions can be seamlessly integrated into existing business systems. Service providers offer software development kits (SDKs) or application programming interfaces (APIs) that facilitate integration with point-of-sale (POS) systems, accounting software, and customer relationship management (CRM) platforms. This integration ensures a smooth transition to digital receipts without disrupting existing operations.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive"><span>What are the additional benefits of using digital receipts?</span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">Apart from the environmental benefits, digital receipts offer several advantages. They reduce administrative costs associated with printing, storing, and managing paper receipts. Digital receipts also provide valuable insights into consumer behavior and purchase patterns, enabling businesses to improve customer experiences and make data-driven decisions.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive"><span>How can businesses get started with digital receipts?</span><em class="icon ni ni-plus on"></em><em class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="small">To get started with digital receipts, businesses can partner with Rezeet digital receipt solutions. We companies provide guidance, implementation support, and technical expertise to seamlessly integrate digital receipt technologies into existing systems. We also assist in training employees and educating customers on the transition to digital receipts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-cta-section nk-section-space py-sm-0 py-xl-7 overflow-hidden">
                <div class="container">
                    <div class="nk-cta-wrap new-bg rounded-3 is-theme p-5 p-lg-7 py-6 py-lg-7 has-mask">
                        <div class="nk-mask shape-22" data-aos="fade-in" data-aos-delay="100"></div>
                        <div class="row justify-content-center">
                            <div class="col-xxl-7 ">
                                <div class="nk-block-head-content text-center m-0">
                                    <div class=" mb-2 mb-lg-7">
                                        <a href="/" class="logo-link">
                                            <div class="logo-wrap"><img class="logo-img logo-light" src="images/logo-s2.png" srcset="# 2x" alt="brand-logo"><img class="logo-img logo-dark" src="images/logo-s2-dark.png" srcset="# 2x"
                                                    alt="brand-logo"></div>
                                        </a>
                                    </div>
                                    <h2 class="nk-block-title m-0">Downloaded by 50k+ shoppers. <br class="d-none d-lg-block" /> Join them to grow your business.</h2>
                                    <ul class="d-flex flex-wrap justify-content-center gap g-3 mt-5">
                                        <li class="m-0"><a class="d-inline-flex rounded-2 overflow-hidden h-60" href="#"><img src="images/apps/app-store.png" srcset="images/apps/app-store2x.png 2x" class="img-fluid" alt="app-store"></a></li>
                                        <li class="m-0"><a class="d-inline-flex rounded-2 overflow-hidden h-60" href="#"><img src="images/apps/play-store.png" srcset="images/apps/play-store2x.png 2x" class="img-fluid" alt="play-store"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>
        <footer class="nk-footer">
            <section class="nk-footer-section">
                <div class="nk-footer-top">
                    <div class="container">
                        <div class="row g-gs justify-content-between">
                            <div class="col-sm-9 col-md-6 col-lg-4 col-xxl-4">
                                <div class="nk-footer-item me-xxl-5">
                                    <div class="nk-header-logo mb-3">
                                        <a href="/" class="logo-link">
                                            <div class="logo-wrap"><img class="logo-img logo-light" src="images/logo-s2.png"  alt="brand-logo"><img class="logo-img logo-dark" src="images/logo-s2-dark.png" 
                                                    alt="brand-logo"></div>
                                        </a>
                                    </div>
                                    <p class="mb-4" style="font-size: 16px;">Capture the Future. Embrace the Power of Paperless</p>
                                    <ul class="social-links">
                                        <li><a class="fs-16" href="#"><em class="icon ni ni-facebook-circle"></em></a></li>
                                        <li><a class="fs-16" href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a class="fs-16" href="#"><em class="icon ni ni-telegram-circle"></em></a></li>
                                        <li><a class="fs-16" href="#"><em class="icon ni ni-linkedin-round"></em></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="row justify-content-between g-gs">
                                    <div class="col-lg-7 col-sm-8">
                                        <div class="nk-footer-item">
                                            <h5 class="title mb-3">Quick Links</h5>
                                            <ul class="nk-list-link column-2">
                                                <li><a class="fs-16" href="about">About</a></li>
                                                <li><a class="fs-16" href="#">Our Product</a></li>
                                                <li><a class="fs-16" href="#">Our Partners</a></li>
                                                <li><a class="fs-16" href="#">Resources</a></li>
                                                <li><a class="fs-16" href="#">Careers</a></li>
                                                <li><a class="fs-16" href="#">Partner Login</a></li>
                                                <li><a class="fs-16" href="sign-up">Partner Sign up</a></li>
                                                <li><a class="fs-16" href="#">Stores</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="nk-footer-item">
                                            <h5 class="title mb-3">Utility Pages</h5>
                                            <ul class="nk-list-link">
                                                <li><a class="fs-16" href="#">Terms and Conditions</a></li>
                                                <li><a class="fs-16" href="#">Privacy Policy</a></li>
                                                <li><a class="fs-16" href="#">Support</a></li>
                                                <li><a class="fs-16" href="#">Help</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-6 mb-0">
                    </div>
                </div>
                <div class="nk-footer-bottom py-4">
                    <div class="container">
                        <div class="row text-center text-lg-start g-1">
                            <div class="col-lg-6">
                                <div class="nk-copyright-text">
                                    <p style="font-size: 16px;">&copy; 2023 <a class="fs-16" href="#" target="_blank">Rezeet</a>. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ul class="nk-list-link horizontal justify-content-center justify-content-lg-end">
                                    <li><a class="fs-16" href="#">Terms and Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        
        <a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em class="icon ni ni-chevrons-up"></em></a>

        
    </div>
    <script src="assets/js/bundle2888.js?v1.0.0"></script>
    <script src="assets/js/scripts2888.js?v1.0.0"></script>
</body>


</html>