
        <footer class="nk-footer">
            <section class="nk-footer-section">
                <div class="nk-footer-bottom py-4">
                    <div class="container">
                        <div class="row text-center text-lg-start g-1">
                            <div class="col-lg-6">
                                <div class="nk-copyright-text">
                                    <p style="font-size: 16px;">&copy; 2023 <a class="fs-16" href="#" target="_blank">Rezeet</a>. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ul class="nk-list-link horizontal justify-content-center justify-content-lg-end">
                                    <li><a class="fs-16" href="#">Terms and Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer><a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em class="icon ni ni-chevrons-up"></em></a>

        
    </div>
    <script src="assets/js/bundle2888.js?v1.0.0"></script>
    <script src="assets/js/scripts2888.js?v1.0.0"></script>
</body>


</html>